<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要是对应接口的地址-->
<mapper namespace="com.example.tlias.mapper.ClazzMapper">
<!--添加新的班级-->
    <insert id="add">
        insert into clazz(name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>

    <!--分页查找班级信息-->
    <select id="list" resultType="com.example.tlias.pojo.Clazz">
        SELECT
            c.id,
            c.name,
            c.room,
            c.begin_date AS beginDate,
            c.end_date AS endDate,
            c.master_id AS masterId,
            c.create_time AS createTime,
            c.update_time AS updateTime,
            e.name AS masterName,
            case
                when c.create_time > c.end_date then '已开课'
                when c.create_time > c.begin_date then '未开课'
                else '在读中'
            end AS status
        FROM
        clazz c
        LEFT JOIN
        emp e ON c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND c.status = #{status}
            </if>
            <if test="beginDate != null and endDate != null">
                AND c.begin_date BETWEEN #{beginDate} AND #{endDate}
            </if>
        </where>
        ORDER BY
        c.update_time DESC
    </select>

<!--根据id查询班级信息-->
    <select id="getById" resultType="com.example.tlias.pojo.Clazz">
        select
            c.id,
            c.name,
            c.room,
            c.begin_date,
            c.end_date,
            c.master_id,
            c.subject,
            c.create_time,
            c.update_time,
            e.name as masterName,
            case
                when c.create_time > c.end_date then '已开课'
                when c.begin_date > c.create_time then '未开课'
                else '在读中'
            end as status
            from clazz c
                left join emp e on c.master_id = e.id
            where c.id = #{id}
    </select>
</mapper>